<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Multishipping\Block\Checkout\Link">
        <plugin name="instorepickup_cart_multishipping_link" type="MagentoEse\InStorePickup\Block\Plugin\CartMultishippingLink"/>
    </type>
    <type name="Magento\Checkout\Block\Cart\Item\Renderer">
        <plugin name="instorepickup_cart_item_renderer" type="MagentoEse\InStorePickup\Block\Plugin\CartItemRenderer"/>
    </type>
</config>
